.cards{
   
    margin-top: 30%;
    margin-left: 30px;
    border-radius: 6px;
    border: 3px grey;
    box-shadow: 1px 1px 1px 1px rgb(210, 208, 208);
    }
.name{
        font-family: Raleway;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.14;
        color: #000;
    }
.website_date{
        font-family: Raleway;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        margin: 0;
    }
#descript{
        opacity: .5;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: .35px;
        text-align: left;
        color: #000;
        margin: .3em 0;
        white-space: pre-wrap;
        margin: .8em 0;
        padding-top: 6px;
    }